body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}






/*----------------------item--------------------------*/
.item{
  display: inline-block;
  width: 281px;
  text-align: center;

  margin:30px 20px;

  border: 1px solid;

  overflow: hidden;
  border-radius: 10px;
}

.item h1{
  font-size:20px;

}

.item img{
  width: 100%;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.item_body{
  margin: 0;
  padding: 5px;
  font-size:15px;
  border-bottom: 1px solid black;
}
.item_price{
  width:140px;
  float:left;
  border-right: 1px solid;
}
.ingredients{
  margin: 0;
  padding: 5px;
  font-size:13px;
  border-top: 1px solid black;
  color:rgb(158, 156, 147)
}


/*----------------------ShoppingCartItem-----------------------*/

.ShoppingCartItem{
  width:80%;
  min-width:500px;
  margin: 20px 10%;

  overflow: hidden;
  border:2px solid;
  border-radius: 15px;
}
.ShoppingCartItem h1{
  width:100%;
  font-size:large;
  text-align:center;
}
.ShoppingCartItem-ImgBox{
  float:left;
  display: flex;
  justify-content:center;
  align-items:center;

  width:calc(50% - 6px);
  height:200px;
  padding: 3px;
  overflow:hidden;
}
.ShoppingCartItem-ImgBox img{
  position:relative;
    max-width: 100%;
    max-height: 100%;
}
.ShoppingCartItem-Control{
  float:right;
  line-height:66px;
  width:calc(50% - 6px);
  height:200px;
  padding: 3px;
  overflow:hidden;
  text-align:center;
}
.ShoppingCartItem-Control p{
  margin: 0;
  padding: 0;
  border-bottom: 1px solid rgb(86, 83, 255);
}
.ShoppingCartItem-Control div{
  margin: 0;
  padding: 0;
  cursor: default;
  border-bottom: 1px solid rgb(86, 83, 255);
}
.ShoppingCartItem-Control div button{
  margin: 0 13px;
  background: none;
  border: none;
  cursor: pointer;
  font-size:18px;
}
.ShoppingCartItem-RemoveButton{
  margin: 0 13px;
  background: none;
  cursor: pointer;
  font-size:13px;
}